<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
	    <typeAlias type="com.coin.dto.UserDTO" alias="UserDTO"/>
	    <typeAlias type="com.coin.dto.AccountDTO" alias="AccountDTO"/>
	    <typeAlias type="com.coin.dto.OrderDTO" alias="OrderDTO"/>
	    <typeAlias type="com.coin.dto.HoldCoinDTO" alias="HoldCoinDTO"/>
	    <typeAlias type="com.coin.dto.TradeHistoryDTO" alias="TradeHistoryDTO"/>
	</typeAliases>
	
    <mappers>
        <mapper resource="com/coin/mapper/UserMapper.xml"/>
        <mapper resource="com/coin/mapper/AccountMapper.xml"/>
        <mapper resource="com/coin/mapper/OrderMapper.xml"/>
        <mapper resource="com/coin/mapper/CoinMapper.xml"/>
        <mapper resource="com/coin/mapper/TradeHistoryMapper.xml"/>
    </mappers>
    
</configuration>